.flex-container {
  display: flex;
  background-color: rgb(190, 190, 231);
  height: 400px;
  width: 600px;
}

.flex-container .flex-item {
  width: 100px;
  height: 100px;
  margin: .75%;
}

/* Flex Container 1 */
.flex-container-1 {
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

/* Flex Container 2 */
.flex-container-2 {
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

/* Flex Container 3 */
.flex-container-3 {
  height: 500px;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-end;
}

.flex-container-3 .flex-item  {
  margin-left: 200px;
}

/* Flex Container 4 */
.flex-container-4 {
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: flex-end;
}

/* Flex Container 5 */
.flex-container-5 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-container-5 .flex-item {
  display: flex;
  justify-content: center;
  align-self: center;
}

.flex-container-5 .item2,
.flex-container-5 .item8 {
  height: 175px;
}

.flex-container-5 .item4,
.flex-container-5 .item5,
.flex-container-5 .item7 {
  height: 125px;
}

.flex-container-5 .item1,
.flex-container-5 .item3,
.flex-container-5 .item6 {
  height: 150px;
}

/* Flex Container 6 */
.flex-container-6 {
  height: 400px;
  width: 800 px;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-container-6 .flex-item {
  width: 200px; /*was this supposed to be here?*/
}

/* use height: 300px; on the container */
/*that doesn't make any sense. You should have said at
the beginning of the document what size these container's
were supposed to be, not wait until the end. Now I already
have a sizing convention and I'm not going to redo my whole
lab because this is at the end.*/