.header {
  grid-area: header;
}

.article {
  grid-area: article;
}

.grid-container {
  display: grid;
  height: 97vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr, 3fr, 2fr, 1fr;
  gap: 10px;
  grid-template-areas:
    "header"
    "article"
    "article"
    "section"
    "section"
    "section"
    "aside"
    "footer";
}

.header {
  grid-column: span 2;
  grid-row: span 1;
}

.aside {
  grid-row: span 2;
  justify-content: left;
}

.section {
  grid-column: span 2;
  grid-row: span 2;
}

.footer {
  grid-column: span 2;
}
